/* Файл: src/styles/Invitation.module.css */

.invitation {
  margin: 0;
  padding: 80px 0; /* Добавим отступы, чтобы контент не прилипал к краям */
  box-sizing: border-box;
  background: #000000;
  overflow: hidden; /* Самое важное: скрываем всё, что выходит за пределы */
}

/* Контейнер, который будет содержать слайды и пагинацию */
.invitationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Обёртка, которая будет двигаться влево-вправо */
.sliderWrapper {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Плавный переход */
}

/* Стили для одного слайда */
.slide {
  flex: 0 0 100%; /* Каждый слайд занимает 100% ширины */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide img {
  width: 100px;
  height: 20px;
  user-select: none; /* Запрещаем выделение текста при перетаскивании */
}

.description {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  line-height: 42px;
  margin-top: 35px;
  max-width: 575px;
  user-select: none; /* Запрещаем выделение текста при перетаскивании */
}

.name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  margin-top: -15px; /* Сделаем отступ чуть больше */
  text-align: center;
  color: #ffffff;
  user-select: none; /* Запрещаем выделение текста при перетаскивании */
}

.post {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  color: #ffffffb2;
  margin-top: -14px;
  user-select: none; /* Запрещаем выделение текста при перетаскивании */
}

/* Стили для пагинации */
.pagination {
  display: flex;
  gap: 10px; /* Расстояние между точками */
  margin-top: 40px;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: #ffffff66; /* Неактивный цвет, как на скрине */
  transition: background-color 0.5s ease;
}

.dot.active {
  background-color: #ffffff; /* Активный цвет */
}
