.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #fff;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 120px;
  max-height: 90px;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.logo-container a {
  text-decoration: none;
  color: #1b1a1a;
}

.logo-container a .icon-Wishbone-logo {
  width: 220px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.header-right ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header-right ul li {
  margin-right: 32px;
}

.header-left ul li:last-child {
  margin-right: 0;
}

.header-right ul li a {
  text-decoration: none;
  color: #1b1a1a;
  font-size: 15px;
  font-weight: 400;
}

.header-right ul li a:hover:not(.get-temp-btn) {
  color: #3f3f3f;
}

.header-right ul li a.get-temp-btn {
  max-width: 160px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 14px;
  padding: 10px 20px;
  background-color: #1b1a1a;
  color: #fff;
  display: inline-block;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.header-right ul li a.get-temp-btn:hover {
  background-color: #3f3f3f;
}

.hero-section {
  background-color: #ece7e4;
}

.hero-container {
  display: flex;
  align-items: center;
}

.hero-text-content {
  flex-basis: 50%;
  padding: 90px 60px;
  box-sizing: border-box;
}

.hero-image-content {
  flex-basis: 50%;
  height: 720px;
  box-sizing: border-box;
}

.hero-image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #645c55;
}

.hero-title {
  font-size: 64px;
  line-height: 70px;
  letter-spacing: 0%;
  font-weight: 400;
  color: #1b1a1a;
  margin-bottom: 22px;
}

.hero-description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  font-weight: 400;
  color: #403e3b;
  margin-bottom: 40px;
}

.hero-read-more {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #1b1a1a;
  text-decoration: none;
  margin-bottom: 120px;
}

.our-firm {
  background-color: #fff;
  padding: 100px 0;
}

.firm-container {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.firm-title-column {
  flex-basis: 30%;
  padding-right: 130px;
  box-sizing: border-box;
}

.firm-content-column {
  flex-basis: 70%;
  box-sizing: border-box;
}

.firm-main-title {
  font-size: 32px;
  font-weight: 400;
  color: #403e3b;
  line-height: 38px;
  letter-spacing: 0%;
}

.firm-text-paragraphs p {
  font-size: 16px;
  font-weight: 400;
  color: #403e3b;
  line-height: 24px;
  letter-spacing: 0%;
  margin-bottom: 15px;
}

.firm-text-paragraphs p:last-child {
  margin-bottom: 25px;
}

.firm-employee-info {
  display: flex;
  align-items: center;
}

.employee-avatar {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.employee-details {
  display: flex;
  flex-direction: column;
}

.employee-name {
  font-size: 17px;
  font-weight: 400;
  color: #1b1a1a;
  line-height: 26px;
  letter-spacing: 0%;
  margin: 0 0 5px 0;
}

.employee-title {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  color: #645c55;
  font-weight: 400;
  letter-spacing: 0%;
}

.fullwidth-image-section {
  position: relative;
  min-height: 500px;
  background-image: url(/assets/img/background-1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 60px 0;
  box-sizing: border-box;
  display: flex;
}

.content-overlay {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.text-block-on-image {
  padding: 40px;
  border-radius: 8px;
  max-width: 450px;
  box-sizing: border-box;
  padding-top: 160px;
}

.image-overlay-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #403e3b;
  margin-bottom: 10px;
}

.image-overlay-description {
  max-width: 280px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  font-weight: 400;
  color: #645c55;
  margin-bottom: 0;
}

.how-we-do {
  background-color: #fff;
  padding: 100px 0;
}

.how-we-do-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  text-align: center;
}

.how-we-do-header {
  margin-bottom: 50px;
}

.how-we-do-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #645c55;
  margin-bottom: 14px;
}

.how-we-do-main-title {
  font-size: 40px;
  font-weight: 400;
  color: #1b1a1a;
  line-height: 42px;
  margin-bottom: 0;
}

.how-we-do-steps {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  text-align: left;
}

.step-item {
  flex-basis: calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.step-icon-container {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.step-icon-container span[class^="icon-"] {
  font-size: 90px;
  color: #403e3b;
}

.step-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  color: #403e3b;
  margin-bottom: 12px;
}

.step-description {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0%;
  font-weight: 400;
  color: #645c55;
}

.fullwidth-image-section2 {
  position: relative;
  min-height: 500px;
  background-image: url(/assets/img/background-2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 60px 0;
  box-sizing: border-box;
  display: flex;
}

.content-overlay2 {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.text-block-on-image2 {
  padding: 40px;
  border-radius: 8px;
  max-width: 450px;
  box-sizing: border-box;
  padding-top: 160px;
}

.image-overlay-title2 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #403e3b;
  margin-bottom: 10px;
}

.image-overlay-description2 {
  max-width: 280px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  font-weight: 400;
  color: #645c55;
  margin-bottom: 0;
}

.customers-section {
  background-color: #403e3b;
  padding: 120px 0;
  color: #fff;
}

.customers-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.customers-text-container {
  max-width: 460px;
  padding-left: 24px;
}

.customers-subtitle {
  font-size: 14px;
  font-weight: 40;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ece7e4;
  margin-bottom: 10px;
}

.customers-main-title {
  font-size: 34px;
  line-height: 38px;
  font-weight: 400;
  letter-spacing: 0%;
  color: #fff;
  margin-bottom: 17px;
}

.customers-description {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #ece7e4;
  margin-bottom: 0;
}

.customers-img-container {
  flex-basis: 45%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 120px 0;
  align-items: center;
  justify-content: center;
}

.customers-img-container img {
  max-width: 100%;
  max-height: 70px;
  object-fit: contain;
  fill: #fff;
}

.fullwidth-image-section3 {
  position: relative;
  min-height: 500px;
  background-image: url(/assets/img/background-3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 60px 0;
  box-sizing: border-box;
  display: flex;
}

.content-overlay3 {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.text-block-on-image3 {
  padding: 40px;
  border-radius: 8px;
  max-width: 450px;
  box-sizing: border-box;
  padding-top: 160px;
}

.image-overlay-title3 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #403e3b;
  margin-bottom: 10px;
}

.image-overlay-description3 {
  max-width: 280px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  font-weight: 400;
  color: #645c55;
  margin-bottom: 0;
}

.ftr-projects {
  background-color: #f7f7f7;
  padding: 120px 0;
  color: #1b1a1a;
}

.ftr-projects-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.ftr-projects-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.ftr-projects-header-text {
  flex-grow: 1;
}

.ftr-projects-main-title {
  font-size: 39px;
  font-weight: 400;
  color: #1b1a1a;
  margin-bottom: 15px;
}

.ftr-projects-description {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #645c55;
  font-weight: 400;
  max-width: 585px;
}

.ftr-projects-header-btn {
  background-color: #1b1a1a;
  color: #fff;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.3s ease;
  margin-left: 30px;
  align-self: center;
}

.ftr-projects-header-btn:hover {
  background-color: #333;
}

.ftr-projects-grid {
  display: flex;
  gap: 18px;
  margin-bottom: 50px;
}

.project-card {
  flex: 1;
  text-decoration: none;
  display: block;
  overflow: hidden;
  position: relative;
}

.project-card-image {
  height: 460px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
}

.project-card-overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #403e3b;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

.project-location {
  display: block;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 20px;
  color: #645c55;
  margin-bottom: 2px;
}

.project-name {
  font-size: 23px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  color: #403e3b;
}

.ftr-projects-view-all {
  text-align: center;
}

.ftr-projects-view-all a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #1b1a1a;
  padding: 10px;
  text-decoration: none;
}

.ftr-projects-view-all a:hover {
  color: #555;
}

.meet-us {
  background-color: #fff;
  padding: 100px 0;
  color: #1b1a1a;
}

.meet-us-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.meet-us {
  background-color: #fff;
  padding: 80px 0;
  color: #1b1a1a;
}

.meet-us-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

.meet-us-text-column {
  flex-basis: 35%;
}

.meet-us-main-title {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0%;
  font-weight: 400;
  color: #403e3b;
  margin-bottom: 14px;
}

.meet-us-description {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0%;
  font-weight: 400;
  color: #645c55;
  margin-bottom: 30px;
}

.meet-us-see-team a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #1b1a1a;
  text-decoration: none;
  padding-bottom: 3px;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.meet-us-see-team a:hover {
  color: #555;
}

.meet-us-members-column {
  flex-basis: 65%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 40px;
  align-items: start;
}

.team-member-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.team-member-card:nth-child(5) {
  grid-column: 1 / 2;
  justify-self: start;
  margin-top: 0px;
}

.member-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.member-name {
  font-size: 17px;
  font-weight: 600;
  color: #1b1a1a;
  margin-bottom: 3px;
}

.member-role {
  font-size: 14px;
  color: #777;
}

.good-fit {
  background-color: #cec4bc;
  padding: 100px 0;
  color: #1b1a1a;
}

.good-fit-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 440px;
}

.good-fit-text-content {
  flex-grow: 1;
}

.good-fit-subtitle {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  color: #645c55;
  margin-bottom: 5px;
}

.good-fit-main-title {
  font-size: 40px;
  line-height: 42px;
  letter-spacing: 0%;
  font-weight: 400;
  color: #1b1a1a;
  max-width: 570px;
}

.good-fit-button {
  font-size: 16px;
  text-decoration: none;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #1b1a1a;
  font-weight: 400;
  white-space: nowrap;
  padding: 10px 0;
  transition: color 0.3s ease;
}

.good-fit-button:hover {
  color: #555;
}

footer {
  background-color: #f7f7f7;
  padding: 60px 0;
  border-top: 1px solid #e0e0e0;
}

.footer-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  margin-bottom: 15px;
}

.footer-logo a {
  text-decoration: none;
  color: #1b1a1a;
}

.footer-logo a .icon-Wishbone-logo {
  color: #1b1a1a;
  font-size: 24px;
}

.footer-copyright p {
  font-size: 13px;
  line-height: 1.6;
  color: #777;
  margin-bottom: 3px;
}

.footer-copyright p:last-child {
  margin-bottom: 0;
}

.footer-copyright a {
  color: #555;
  text-decoration: none;
}

.footer-copyright a:hover {
  text-decoration: underline;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.social-icons li {
  margin-left: 20px;
}

.social-icons li:first-child {
  margin-left: 0;
}

.social-icons a {
  color: #1b1a1a;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #555;
}
