@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yn6kwn');
  src:  url('fonts/icomoon.eot?yn6kwn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yn6kwn') format('truetype'),
    url('fonts/icomoon.woff?yn6kwn') format('woff'),
    url('fonts/icomoon.svg?yn6kwn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Facebook-Icon-Dark:before {
  content: "\e904";
}
.icon-Instagram-Icon-Dark:before {
  content: "\e905";
}
.icon-Twitter-Icon-Dark:before {
  content: "\e906";
}
.icon-Building:before {
  content: "\e901";
}
.icon-Finalizing:before {
  content: "\e902";
}
.icon-Sketching:before {
  content: "\e903";
}
.icon-Wishbone-logo:before {
  content: "\e900";
}
