::selection {
  background-color: transparent;
  color: #7b98fe;
}

::-moz-selection {
  background-color: transparent;
  color: #7b98fe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Quicksand", sans-serif;
  color: #3d4f9f;
}

.icon-play-button .path1:before {
  content: "\e911";
  color: #fff;
  transition: color 0.2s ease;
}
.icon-play-button .path2:before {
  content: "\e912";
  color: #5e81ff;
  margin-left: -1em;
  transition: color 0.2s ease;
}

.icon-facebook-logo:before {
  content: "\e904";
  color: #b6bac7;
  transition: color 0.2s ease;
}

.icon-telegram-logo .path1:before {
  content: "\e901";
  color: #9399ab;
  transition: color 0.2s ease;
}
.icon-telegram-logo .path2:before {
  content: "\e902";
  color: #70788e;
  margin-left: -1.154296875em;
  transition: color 0.2s ease;
}
.icon-telegram-logo .path3:before {
  content: "\e903";
  color: #b6bac7;
  margin-left: -1.154296875em;
  transition: color 0.2s ease;
}

.icon-twitter-logo:before {
  content: "\e900";
  color: #b6bac7;
  transition: color 0.2s ease;
}

.icon-medium-logo:before {
  content: "\e905";
  color: #757e9a;
  transition: color 0.2s ease;
}

/* Header Section */
/* Site Header */

.site-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  border-bottom: 1px solid #d8e3fe;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.logo-container .logo-circle {
  width: 26px;
  height: 26px;
  background-color: #5e81fe;
  border-radius: 50%;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

/* Site Header */

/* Main Nav */

.main-nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  margin-right: 40px;
}

.main-nav ul li:last-child {
  margin-right: 0;
}

.main-nav ul li a {
  text-decoration: none;
  color: #697ca6;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  letter-spacing: 5%;
  line-height: 1;
  font-weight: 500;
  transition: font-weight 0.2s ease, color 0.2s ease;
}

.main-nav ul li a:hover {
  font-weight: 700;
  color: #5e81fe;
}

/* Main Nav */

/* Logo Buttons */

.logo-buttons ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo-buttons ul li {
  margin-right: 37px;
}

.logo-buttons ul li:last-child {
  margin-left: 20px;
}

.logo-buttons ul li a:not(.get-started-button) {
  text-decoration: none;
  font-size: 15px;
  transition: color 0.2s ease;
}

.logo-buttons ul li a:hover:not(.get-started-button) .icon-facebook-logo:before,
/* .logo-buttons ul li a:hover:not(.get-started-button) .icon-telegram-logo .path1:before, */
.logo-buttons ul li a:hover:not(.get-started-button) .icon-telegram-logo .path2:before,
/* .logo-buttons ul li a:hover:not(.get-started-button) .icon-telegram-logo .path3:before */
.logo-buttons ul li a:hover:not(.get-started-button) .icon-twitter-logo:before,
.logo-buttons ul li a:hover:not(.get-started-button) .icon-medium-logo:before {
  color: #5e81fe; /* <--- Укажите желаемый цвет иконки при наведении */
  /* Если вы хотите другой цвет при наведении, например, темнее: #4a6acf */
}

.logo-buttons
  ul
  li
  a:hover:not(.get-started-button)
  .icon-telegram-logo
  .path3:before {
  color: #809fff;
}

.logo-buttons
  ul
  li
  a:hover:not(.get-started-button)
  .icon-telegram-logo
  .path1:before {
  color: #6a8eff;
}

.logo-buttons ul li a.get-started-button {
  text-decoration: none;
  background-color: #d2e1ff;
  padding: 14px 15px;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  color: #3a79ff;
  display: inline-block;
  transition: background-color 0.2s ease, color 0.2s ease;
  border-radius: 2px;
}

.logo-buttons ul li a.get-started-button:hover {
  background-color: #6188ff;
  color: #fff;
}

/* Logo Buttons */
/* Header Section */

/* Hero Section */

.hero-section {
  background-color: #fff;
  color: #3d4f9f;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.hero-section svg {
  display: block;
  max-width: 100%;
  width: 1440px;
  height: auto;
  margin: 0 auto;
}

.hero-container {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.hero-text-content {
  margin-bottom: 50px;
}

.hero-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 10%;
  text-transform: uppercase;
  font-weight: 500;
  color: #3d4f9f;
  margin-bottom: 15px;
}

.hero-title {
  font-family: "Quicksand";
  font-size: 48px;
  font-weight: 300;
  line-height: 1;
  color: #3d4f9f;
  margin-bottom: 25px;
}

.hero-title strong {
  font-weight: 500;
  color: #3d4f9f;
}

.hero-description {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 3%;
  color: #8d96bd;
  max-width: 500px;
}

/* Контейнер графика */
.graph-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.graph-wrapper svg {
  width: 100%;
  height: auto;
  display: block;
}

.play-button {
  display: flex;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(75, 113, 255, 0.3);
  text-decoration: none;
  z-index: 10;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.play-button:hover .icon-play-button .path1:before,
.icon-play-button .path2:before {
  color: #fff;
}

.play-button img {
  width: 15px;
  height: 15px;
}

.pagination-dots {
  text-align: center;
  margin-top: 20px;
}

.pagination-dots .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #cdd3e4;
  margin: 0 5px;
  cursor: pointer;
}

.pagination-dots .dot.active {
  background-color: #5282ff;
}

#heroPlayButton circle {
  transition: fill 0.2s ease;
}

#heroPlayButton path {
  transition: fill 0.2s ease;
}

#heroPlayButton:hover circle {
  fill: #adb4d2;
}

#heroPlayButton:hover path {
  fill: #fff;
}

/* Стили для точек на графике */
#graphPoint1,
#graphPoint2,
#graphPoint3,
#graphPoint4 {
  cursor: pointer; /* Показываем, что они кликабельны */
}

.graph-point-fill,
.graph-point-stroke {
  transition: fill 0.2s ease, stroke 0.2s ease;
}

#graphPoint1:hover .graph-point-fill,
#graphPoint2:hover .graph-point-fill,
#graphPoint3:hover .graph-point-fill,
#graphPoint4:hover .graph-point-fill {
  fill: #5e81ff; /* Внутренности заполняются цветом #5e81ff */
}

#graphPoint1:hover .graph-point-stroke,
#graphPoint2:hover .graph-point-stroke,
#graphPoint3:hover .graph-point-stroke,
#graphPoint4:hover .graph-point-stroke {
  stroke: #fff; /* Бордер (обводка) становится белым #fff */
}

/* 2. Анимация "смахивания" для текста и кнопки Play */
/* ... другие стили ... */

#svgPlanYourLifeText,
#svgHeroTitle,
#svgHeroDescription,
#heroPlayButton {
  transform: translateY(-50px);
  transition: transform 0.3s ease, opacity 0.3s ease; /* Медленнее и другая функция плавности */
}

/* Класс для "выезда" контента (например, влево и исчезание) */
.content-slide-out {
  transform: translateY(-50px) translateX(-60px); /* Расстояние выезда, можно настроить */
  opacity: 0;
}

/* Вспомогательный класс для мгновенной подготовки к "въезду" */
/* Контент будет справа и невидимый, без анимации этого состояния */
.content-prepare-slide-in {
  transform: translateY(-50px) translateX(60px); /* Расстояние для въезда, можно настроить */
  opacity: 0;
  transition: none !important; /* Применяется мгновенно, без анимации */
}

/* Класс .content-is-swiping из предыдущего ответа больше не нужен для этой логики, */
/* можно его удалить или оставить, если он используется где-то еще. */
/* Если он был только для opacity, то теперь он заменен новой логикой. */

.content-is-swiping {
  opacity: 0 !important; /* !important на случай конфликта с другими стилями прозрачности */
}

/* Hero Section */

/* Companies Section */

.companies-section {
  background-color: #fff;
  box-sizing: border-box;
  padding: 50px 0;
}

.companies-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.companies-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.companies-icons a {
  text-decoration: none;
}

.companies-icons span[class^="icon-"] {
  font-size: 25px;
  display: inline-block;
}

.companies-icons span[class^="icon-"]::before {
  transition: color 0.2s ease;
}

.companies-icons a:hover span[class^="icon-"]::before {
  color: #5982e7;
}

/* Companies Section */

/* Platform-App Section */

.platform-app-section {
  background-color: #f5f8ff;
  color: #3d4f9f;
  padding: 150px 0;
  overflow: hidden;
}

.platform-app-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 70px;
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.platform-app-text-content {
  flex: 0 0 45%;
  max-width: 420px;
}

.platform-app-img-content {
  flex: 1;
  text-align: left;
}

.platform-app-img-content img {
  max-width: 100%;
  height: auto;
  display: block;
}

.platform-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 10%;
  color: #3d4f9f;
  margin-bottom: 25px;
}

.platform-title {
  font-family: "Quicksand", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  color: #3d4f9f;
  margin-bottom: 25px;
}

.platform-title strong {
  font-weight: 500;
}

.platform-description {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 3%;
  color: #8d96bd;
  max-width: 100%;
  margin-bottom: 40px;
}

.platform-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-view-video,
.btn-see-features {
  padding: 12px 24px;
  border-radius: 2px;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-view-video {
  background-color: #4c85ff;
  color: #fff;
  font-weight: 700;
}

.btn-view-video:hover {
  background-color: #184bb9;
}

.btn-see-features {
  background: none;
  color: #adb4d2;
  border: 1px solid #d1d1e4;
}

.btn-see-features:hover {
  border: 1px solid #adb4d2;
  background-color: #adb4d2;
  color: #fff;
}

.btn-icon {
  display: inline-block;
  line-height: 1;
}

.btn-icon.play-icon {
  margin-left: 7px;
  font-size: 0.8em;
}

/* Platform-App Section */

/* About-Us Section */

.about-us-section {
  background-color: #fff;
  color: #3d4f9f;
  padding: 140px 0;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.about-us-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 100px;
  position: relative;
  z-index: 1;
}

.about-us-text-content {
  margin-bottom: 80px;
}

.about-us-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 10%;
  line-height: 1;
  text-transform: uppercase;
  color: #3d4f9f;
  margin-bottom: 20px;
}

.about-us-title {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  color: #3d4f9f;
  margin-bottom: 0;
}

.about-us-icons-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 80px;
}

.about-icon-item {
  flex: 1;
  min-width: 100px;
  max-width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 0 10px;
}

.about-icon-item:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 111.39px;
  transform: translateY(-50%);

  width: 40px; /* Увеличенная длина линии */
  height: 1px;
  background-color: #dae4fe;

  margin-left: 35px; /* Соответствующий margin-left для линии 40px */
}

.about-icon-image-wrapper {
  width: 69px;
  height: 69px;
  background-color: #f1f5ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.about-icon-image-wrapper img {
  width: 70px;
  height: 70px;
}

.about-icons-title {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.77;
  color: #4074f8;
  margin-bottom: 20px;
}

.about-icons-description {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.77;
  color: #adb3cb;
  max-width: 100%;
  position: relative;
  margin-bottom: 0;
}

.about-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.about-read-more,
.about-get-started {
  padding: 15px 15px;
  border-radius: 2px;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.about-read-more {
  background-color: #ffd7d7;
  color: #d43f3f;
}

.about-read-more:hover {
  background-color: #db4242;
  color: #fff;
}

.about-buttons-choose {
  font-family: "Open Sans", sans-serif; /* */
  font-size: 11px; /* */
  font-weight: 600; /* */
  line-height: 1.77; /* */
  color: #adb3cb; /* */
  text-transform: uppercase; /* */
  margin: 0; /* */
  position: relative;
  display: flex; /* Добавлено для выравнивания линий и текста */
  align-items: center; /* Выравнивание по центру вертикали */
  padding: 0 5px; /* Можно уменьшить внутренние отступы, если линии короткие */
}

.about-buttons-choose::before,
.about-buttons-choose::after {
  content: "";
  width: 25px; /* Длина горизонтальных линий по бокам от "OR" */
  height: 1px; /* Толщина линий */
  background-color: #dae4fe; /* */
}

.about-buttons-choose::before {
  margin-right: 15px; /* Отступ от левой линии до "OR" */
}

.about-buttons-choose::after {
  margin-left: 15px; /* Отступ от "OR" до правой линии */
}

.about-get-started {
  background-color: #d2e1ff;
  color: #3a79ff;
}

.about-get-started:hover {
  background-color: #6188ff;
  color: #fff;
}

.about-us-cloud {
  position: absolute;
  z-index: 0;
}

.cloud-top-left {
  top: 100px;
  left: 5%;
  width: 100px;
}

.cloud-top-right {
  top: 160px;
  right: 1%;
  width: 150px;
}

.cloud-bottom-left {
  bottom: 110px;
  left: 1%;
  width: 150px;
}

/* About-Us Section */

/* Time-And-Peoples Section */

.time-and-peoples-section {
  padding: 60px 0;
}

.time-and-peoples-container {
  width: 100%;
  padding: 0;
}

.time-and-people-icons {
  display: flex;
  width: 100%;
}

.timer-icon,
.peoples-icon {
  flex: 1;
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* text-align: center; */
  height: 343px;
}

.timer-icon {
  background-color: #6888ff;
  color: #fff;
  align-items: flex-end;
  text-align: right;
}

.timer-icon img {
  filter: brightness(0) invert(1);
}

.peoples-icon {
  background-color: #e9efff;
  align-items: flex-start;
  text-align-last: left;
}

.timer-icon img,
.peoples-icon img {
  width: 72px;
  height: 72px;
  margin-bottom: 25px;
}

.timer-title,
.peoples-title {
  font-family: "Quicksand";
  font-size: 48px;
  font-weight: 400;
  line-height: 1.74;
  letter-spacing: 3%;
}

.timer-icon .timer-title {
  color: #fff;
}

.peoples-icon .peoples-title {
  color: #5e80ff;
}

.timer-description,
.peoples-description {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 3%;
  max-width: 260px;
  margin-top: 0;
}

.timer-icon .timer-description {
  color: #fff;
}

.peoples-icon .peoples-description {
  color: #5e80ff;
}

/* Time-And-People */

/* Our-Resources Section */

.our-resources-section {
  background-color: #f5f8ff;
  color: #3d4f9f;
  padding: 100px 0;
  position: relative;
  overflow-x: clip;
}

.our-resources-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.resources-text-content {
  text-align: center;
  margin-bottom: 80px;
}

.resources-text-content .resources-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: #3d4f9f;
  margin-bottom: 15px;
}

.resources-text-content .resources-title {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  color: #3d4f9f;
  margin-bottom: 0;
}

.resources-slider-wrapper {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  /* overflow: hidden; */
}

.slider-viewport {
  width: 100%;
  overflow: hidden; /* Скрытие слайдов происходит здесь */
  position: relative;
  /* Высота будет определяться высотой .resource-blog-card */
}

.slides-track {
  display: flex;
  /* Плавность перехода - 0.5 секунды, как вы просили */
  transition: transform 0.5s ease-in-out;
  /* Ширина будет 300% (100% * 3 слайда), устанавливается JS */
}

.resource-blog-card.slide {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(200, 200, 220, 0.15);
  padding: 40px;
  display: flex;
  gap: 20px;
  align-items: stretch;
  width: 100%; /* Каждый слайд занимает 100% ширины .resources-slider-wrapper */
  flex-shrink: 0;
  box-sizing: border-box;
  height: 395px;
  /* min-height: 400px; Чтобы вместить main-image-wrapper 320px + паддинги 80px */
  flex-shrink: 0; /* Важно, чтобы слайды не сжимались */
}

.card-image-gallery {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex: 0 0 55%;
  /* max-width: 410px; */
  align-items: stretch;
}

.main-image-wrapper {
  position: relative;
  flex-grow: 1;
  display: flex;
  min-width: 0;
  height: 320px;
  align-items: center;
  justify-content: center;
}

.gallery-main-image {
  height: 320px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.main-image-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
  border-radius: 0 0 6px 6px;
  pointer-events: none;
}

.gallery-secondary-stack {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 160px;
  flex-shrink: 0;
  align-self: stretch;
}

.secondary-image-wrapper {
  position: relative;
  flex: 1 1 0%;
  display: flex;
  min-height: 0;
}

.gallery-secondary-stack .gallery-secondary-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  min-height: 0;
}

.card-content-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 20px;
  /* height: 100%;
  overflow: hidden;
  justify-content: center; */
}

.content-title {
  font-family: "Quicksand", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  color: #3d4f9f;
  margin-top: 0;
  margin-bottom: 30px;
  flex-shrink: 0;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.main-image-wrapper .image-overlay, /* Добавил селектор для главного изображения */
.secondary-image-wrapper .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); /* Ваше затемнение */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.main-image-wrapper:hover .image-overlay,
.secondary-image-wrapper:hover .image-overlay {
  opacity: 1;
  pointer-events: auto;
}

.image-overlay .search-icon-img {
  width: 50px;
  height: 50px;
  /* color: white; */
}

.content-description {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.9;
  letter-spacing: 3%;
  color: #8d96bd;
  margin-bottom: 25px;
  overflow-y: auto;
  flex-grow: 1;
  padding-right: 5px;
  /* max-width: 408px; */
}

.content-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: auto;
  flex-shrink: 0;
}

.btn-read-now {
  background-color: #d2e1ff;
  color: #3a79ff;
  padding: 13px 15px;
  border-radius: 2px;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  transition: background-color 0.2s ease, color 0.2s ease;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
}

.btn-read-now:hover {
  background-color: #6188ff;
  color: #fff;
}

.btn-add-bookmarks {
  background-color: transparent;
  color: #a6b6da;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  padding: 13px 15px;
}

.btn-add-bookmarks:hover {
  text-decoration: underline;
}

.slider-arrow {
  background: transparent;
  border: none;
  color: #a8b4e5;
  border-radius: 0;
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* padding: 10px; */
  z-index: 10;
}

.slider-arrow:hover {
  color: #8190ca;
}

.prev-arrow {
  left: -45px;
}

.next-arrow {
  right: -45px;
}

.slider-pagination {
  text-align: center;
  margin-top: 40px;
}

.slider-pagination .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d1d6e3;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider-pagination .dot.active {
  background-color: #007aff;
}

/* Our-Resources Section */

/* Testimonials Section */

.testimonials-section {
  background-color: #f6f9ff;
  color: #3d4f9f;
  padding: 100px 0;
  overflow-x: hidden;
}

.testimonials-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.testimonials-text-content {
  flex: 0 0 35%;
  max-width: 340px;
  position: relative;
  z-index: 2;
  background-color: #f6f9ff;
  padding-right: 20px;
  text-align: left !important;
}

.testimonials-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: #3d4f9f;
  margin-bottom: 30px;
}

.testimonials-title {
  font-family: "Quicksand", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  color: #3d4f9f;
  margin-bottom: 14px;
}

.testimonials-description {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.9;
  letter-spacing: 3%;
  color: #a4abc8;
  margin-bottom: 0;
}

.testimonials-slider-area {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.testimonial-slider-wrapper {
  position: relative;
  width: 100%;
  /* max-width: 600px; */
  /* margin: 0; */
}

.testimonial-slider-viewport {
  /* width: 80%; */
  /* margin: 0 auto; */
  width: 100%;
  overflow: visible;
  position: relative;
}

.testimonial-slides-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.testimonial-slide {
  /* width: 100%; */
  width: 425px;
  flex-shrink: 0;
  box-sizing: border-box;
  /* padding: 20px 10px; */
  padding: 20px 10px;
  opacity: 0.5;
  transform: scale(0.9);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.testimonial-slide.active-slide {
  opacity: 1;
  transform: scale(1);
}

.testimonial-card {
  background-color: #fff;
  border-radius: 0;
  padding: 40px 1px 40px 1px;
  box-shadow: 0 15px 45px -15px rgba(136, 151, 196, 0.3);
  text-align: left;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 450px;
  margin: 0 auto;
  position: relative;
}

.testimonial-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 3%;
  color: #676f95;
  margin-bottom: 10px;
  max-width: 285px;
  text-align: left;
  text-align-last: left;
}

.testimonial-img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  bottom: -31px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3px solid #f6f9ff;
  /* margin-top: auto; */
}

.testimonial-slider-pagination {
  text-align: center;
  margin-top: 40px;
}

.testimonial-slider-pagination .testimonial-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d1d6e3;
  margin: 0 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.testimonial-slider-pagination .testimonial-dot.active {
  background-color: #5283ff;
}

/* Testimonials Section */

/* Customer-Help Section */

.customer-help-section {
  background-color: #fff;
  color: #8d96bd;
  padding: 140px 0;
}

.customer-help-container {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 15px;
}

.customer-text-content {
  text-align: center;
  margin-bottom: 70px;
}

.customer-text-content .customer-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: #3d4f9f;
  margin-bottom: 20px;
}

.customer-text-content .customer-title {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  color: #3d4f9f;
  margin-bottom: 0;
}

.customer-help-list {
  border-top: 1px solid #e8eaf1;
}

.faq-item {
  border-bottom: 1px solid #e8eaf1;
}

.faq-question {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 20px 0;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.faq-title-text {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 3%;
  color: #8e96b7;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.faq-arrow {
  display: inline-flex;
  align-items: center;
  /* justify-content: center; */
  margin-right: 15px;
  flex-shrink: 0;
}

.faq-arrow-svg {
  width: 15px;
  height: 8px;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.faq-arrow-svg path {
  stroke: #8e96b7;
  stroke-width: 2;
  transition: stroke 0.3s ease, stroke-width 0.3s ease;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out, padding-top 0.4s ease-out,
    padding-bottom 0.4s ease-out;
  /* padding-left: 0;
  padding-right: 40px; */
}

.faq-answer p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 3%;
  color: #8d96bd;
  margin-bottom: 20px;
  /* padding-top: 0; */
}

.faq-item.active .faq-title-text {
  color: #495274;
  font-weight: 700;
}

.faq-item.active .faq-arrow-svg {
  transform: rotate(180deg);
}

.faq-item.active .faq-arrow-svg path {
  color: #495274;
  stroke-width: 2.5;
}

.faq-item.active .faq-answer {
  padding-top: 5px;
  padding-bottom: 25px;
}

.documentation-button {
  background-color: #e8ecf4;
  color: #7382a3;
  padding: 13px 15px;
  border: none;
  border-radius: 2px;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  text-decoration: none;
  display: inline-block;
  margin-top: 0;
}

.documentation-button:hover {
  background-color: #9fb5e0;
  color: #a9bde4;
}

/* Customer-Help Section */

/* Plan-Your-Life Section */

.plan-your-life-section {
  background-color: #6888ff;
  color: #fff;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  text-align: center;

  background-image: url("icons/clouds-end.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.plan-life-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.plan-life-content {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan-life-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
}

.plan-life-title {
  font-family: "Quicksand", sans-serif;
  font-size: 48px;
  font-weight: 300;
  line-height: 1;
  color: #fff;
  margin-bottom: 25px;
}

.plan-life-title strong {
  font-weight: 500;
}

.plan-life-description {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 3%;
  color: #fff;
  margin-bottom: 25px;
  max-width: 710px;
}

.plan-life-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.btn-view-pricing,
.btn-read-documentation {
  padding: 13px 16px;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  line-height: 1;
  transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease;
  cursor: pointer;
  border: 1px solid #a0b4ff;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-view-pricing {
  background-color: #fff;
  border-radius: 3px 0 0 3px;
  font-weight: 700;
  color: #565f82;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-right: none;
}

.btn-view-pricing:hover {
  background-color: #b4bddb;
  color: #fff;
}

.btn-read-documentation {
  background-color: transparent;
  border-radius: 0 3px 3px 0;
  color: #c7d3ff;
  font-weight: 500;
  border-left: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-read-documentation:hover {
  background-color: #bac9ff;
  color: #6888ff;
}

/* Plan-Your-Life Section */

/* Sign-Up Section */

.sign-up-section {
  background-color: #fcfdff;
  color: #3d4f9f;
  padding: 110px 0;
}

.sign-up-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.sign-up-text-wrapper {
  flex: 1;
  text-align: left;
}

.sign-up-title {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #3d4f9f;
  margin-bottom: 18px;
}

.sign-up-description {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  max-width: 330px;
  line-height: 1.9;
  letter-spacing: 3%;
  color: #8d96bd;
  margin-bottom: 0;
}

.sign-up-form-wrapper {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  gap: 15px;
}

.sign-up-form input[type="email"] {
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  padding: 20px 22px;
  border-radius: 5px;
  background-color: #efeff7;
  color: #7a85ad;
  text-align: left;
  width: 280px;
  box-sizing: border-box;
  outline: none;
  border: none;
  box-shadow: none;
}

.sign-up-form input[type="email"]::placeholder {
  font-family: "Quicksand", sans-serif;
  color: #7a85ad;
  opacity: 1;
}

.btn-save-me {
  background-color: #4d6ce1;
  color: #fff;
  padding: 20px 60px;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Quicksand";
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  transition: background-color 0.2s ease;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.btn-save-me:hover {
  background-color: #184bb9;
}

/* Sign-Up Section */

/* Footer */

.main-footer {
  border-top: 1px solid #d8e3fe;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 30px;
  padding-right: 30px;
}

.main-footer .footer-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1262px;
  margin: 0 auto;
  position: relative;
}

.main-footer .footer-left {
  display: flex;
  align-items: center;
}

.main-footer .logo-buttons {
  display: flex;
  align-items: center;
}

.main-footer .logo-buttons ul li:last-child {
  margin-right: 0;
}

.main-footer .footer-left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.copyright {
  font-family: "Quicksand";
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 5%;
  color: #aeb8d0;
  text-align: left;
  margin-top: 40px;
  padding-left: 86px;
  width: 100%;
}

/* Footer */
