/* src/index.css */

/* Добавляем эту строку для импорта шрифта с Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* И применяем шрифт ко всему приложению */
  font-family: "Jost", sans-serif;
}
