@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?aadtjj");
  src: url("fonts/icomoon.eot?aadtjj#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?aadtjj") format("truetype"),
    url("fonts/icomoon.woff?aadtjj") format("woff"),
    url("fonts/icomoon.svg?aadtjj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-audi:before {
  content: "\e917";
  color: #d6dae5;
}
.icon-atlassian:before {
  content: "\e918";
  color: #d6dae5;
}
.icon-facebook1:before {
  content: "\e919";
  color: #d6dae5;
}
.icon-apple-watch:before {
  content: "\e91a";
  color: #d6dae5;
}
.icon-bitbucket:before {
  content: "\e91b";
  color: #d6dae5;
}
.icon-play-button .path1:before {
  content: "\e911";
  color: rgb(255, 255, 255);
}
.icon-play-button .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(94, 129, 255);
}

.icon-clouds:before {
  content: "\e906";
  color: #fff;
}
.icon-twitter-logo:before {
  content: "\e900";
  color: #6188ff;
}
.icon-telegram-logo .path1:before {
  content: "\e901";
  color: rgb(147, 153, 171);
}
.icon-telegram-logo .path2:before {
  content: "\e902";
  margin-left: -1.154296875em;
  color: rgb(112, 120, 142);
}
.icon-telegram-logo .path3:before {
  content: "\e903";
  margin-left: -1.154296875em;
  color: rgb(182, 186, 199);
}
.icon-facebook-logo:before {
  content: "\e904";
  color: #b6bac7;
}
.icon-medium-logo:before {
  content: "\e905";
  color: #757e9a;
}
