.about {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding-top: 30px; /* Добавим отступ сверху */
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 160px;
}

/* Стили для заголовка и кастомного подчеркивания */
.mainTitle {
  text-align: center;
  margin-bottom: 70px;
}

.mainTitle h2 {
  display: inline-block; /* Нужно для правильного позиционирования псевдоэлемента */
  position: relative;
  font-family: "OpenSans", sans-serif; /* Пример шрифта, подберите свой */
  font-size: 18px;
  line-height: 100%;
  font-weight: 700;
  color: #48555b;
  letter-spacing: 2.3px;
  padding-bottom: 15px; /* Дадим место для черты */
  text-transform: uppercase;
  text-align: center;
}

/* Создаем кастомное подчеркивание */
.mainTitle h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /* Центрируем черту */
  width: 50%; /* Ширина черты */
  height: 2px;
  background-color: #00a4e5; /* Синий цвет как на скриншоте */
}

/* Контейнер для двух колонок */
.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Выравниваем по верху */
  width: 100%;
}

/* Левая колонка (текст) */
.textColumn {
  flex-basis: 36%; /* Занимает 36% ширины */
}

.textColumn h3 {
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #48555b;
  margin-top: -25px;
  margin-bottom: 40px;
}

.textColumn h3 strong {
  color: #00a4e5;
  font-weight: 600;
}

.textColumn p {
  font-family: "OpenSans", sans-serif;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.2px;
  color: #48555b;
  font-weight: 100;
}

/* Правая колонка (картинки) */
.imageColumn {
  flex-basis: 59%; /* Занимает 59% ширины */
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.imageCard {
  position: relative; /* Необходимо для позиционирования текста */
  width: 33%;
}

.imageCard img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block; /* Убирает лишние отступы под картинкой */
}

/* Текст поверх картинки */
.overlayText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start; /* Прижимаем к верху */
  padding: 5px 0 0 10px;
  justify-content: start;
  color: white;
  font-family: "BebasNeueBold", sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.5px;
  box-sizing: border-box;
  max-width: 20px;
}
