.header {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 610px;
  background: url("../details/bg.png") no-repeat center center / cover;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 100%;
  padding: 45px 0;
}

.headerLogo {
  width: 100px;
  height: 20px;
  margin-bottom: 180px;
}

.headerMiddle {
  margin-bottom: 165px;
  max-width: 650px;
}

.headerMiddle h1 {
  font-family: "BebasNeueBold", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 3.5px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 7px;
  text-transform: uppercase;
}

.headerMiddle p {
  font-family: "OpenSans", sans-serif;
  font-weight: 550;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0;
}

.headerBottom {
  font-family: "OpenSans", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 3px;
  text-align: center;
  line-height: 100%;
  text-transform: uppercase;
}
