.navbar {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-bottom: 2px solid #e6e6e6;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 160px 18px;
}

.navLinks {
  display: flex;
  gap: 50px;
}

.navLinks a {
  text-decoration: none;
  color: #48555b;
  font-family: "OpenSans", sans-serif;
  font-weight: 550;
  font-size: 15px;
  letter-spacing: 2px;
  text-align: center;
  transition: color 0.25s ease;
}

.navLinks a:hover {
  color: #00a4e5;
}

.navbarLogo {
  width: 100px;
  height: 20px;
}
