.preFt {
  padding: 60px 0 200px 0;
  margin: 0;
  box-sizing: border-box;
  background: url("../details/preFtBg.png") no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preFtContainer {
  text-align: center;
}

/* Стили для контента внутри можно добавить для лучшего вида */
.preFtContainer h2 {
  font-family: "OpenSans", sans-serif; /* Пример шрифта, как в Header */
  font-size: 30px;
  color: #48555b;
  margin-bottom: 40px;
  font-weight: 700;
  letter-spacing: 1.2px;
  max-width: 340px;
}

.preFtContainer button {
  background-color: #00a4e5;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: transform 0.15s ease-out;
}

/* Новый класс для короткого клика */
.preFtClicked {
  transform: scale(0.95); /* Уменьшаем чуть-чуть */
}

/* Новый класс для удержания */
.preFtHeld {
  transform: scale(0.85); /* Уменьшаем сильнее */
}
