/* src/styles/Hero.module.css */

.hero {
  /* Устанавливаем белый фон и добавляем отступы сверху и снизу */
  background-color: #ffffff;
  padding: 40px 10px;
}

.heroContainer {
  display: flex;
  /* Расстояние между левой и правой колонкой */
  gap: 60px;
  align-items: center;
  /* Ограничиваем максимальную ширину и центрируем контейнер */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

/* --- Левая колонка --- */
.heroLeft {
  /* Задаем левой колонке большую часть пространства (примерно 1.5 к 1) */
  flex: 0.9;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Все элементы прижимаем к левому краю */
}

/* Желтая плашка "Design addicted" */
.pretitle {
  background-color: #e2b013; /* Примерный желтый цвет со скрина */
  color: #ffffff;
  padding: 0 4px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

/* Главный заголовок "A stylish UI Kit" */
.title {
  font-size: 85px;
  line-height: 86.5px;
  margin: 0;
  color: #000000;
  font-weight: 100;
  margin-bottom: 30px;
}

/* Подзаголовок "for all web creatives" */
.subtitle {
  font-size: 50px;
  font-weight: 400;
  line-height: 25px;
  color: #000000;
  margin: 0;
  margin-bottom: 25px;
}

/* Обычный текст с описанием */
.description {
  font-size: 20px;
  color: #333333;
  line-height: 34px;
  max-width: 500px; /* Ограничим ширину, чтобы текст не был слишком длинным */
  margin-bottom: 70px;
}

/* --- Правая колонка --- */
.heroRight {
  /* Правая колонка занимает оставшееся пространство */
  flex: 1;
}

.heroRight img {
  /* Картинка должна занимать всю ширину своей колонки */
  width: 100%;
  height: auto;
  display: block; /* Убирает лишний отступ под картинкой */
}

/* --- Секция с иконками --- */
.iconsContainer {
  display: flex;
  gap: 20px; /* Расстояние между иконками */
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Расстояние между иконкой и текстом */
}

.icon img {
  width: 30px;
  height: 28px;
}

.icon p {
  margin: 0;
  font-size: 13px;
  line-height: 14.5px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
